@import url(c:\Users\shuja\OneDrive\Desktop\shujaahtml-files\portfolioProjects\mern-stack-template-master\client\app\styles\vendor\normalize.css);
body {
  background-color: #0f1414;
  font: 100% cambria, sans-serif;
  font-weight: 400;
  color: #1e1e1e;
}
