@charset "UTF-8";
@import 'vendor/normalize';

$font-stack:    cambria, sans-serif;
$primary-color: green;

body {
  background-color: #f3f2f2;
  font: 100% $font-stack;
  font-weight: 400;
  color: #413f3d;
}
